@font-face {
  font-family: "Kanit";
  src: url(../fonts/Kanit-Bold.ttf) format(truetype);
  src: url(../fonts/Kanit-Regular.ttf) format(truetype);
}
:root {
  --gris: #044452;
  --vert: #002560;
  --bleu: #193a60;
  --bleu-fonce: #000000;
  --border-color: #323232;
  --main-color: #08fc5d;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(var(--bleu-fonce), var(--gris)), url(../images/background-musify.svg);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  color:#08fc5d;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.045);
}

.square-wave {
  fill: rgb(134, 252, 105);
  width: 10vh;
  padding-right: 12px;
}

.logo {
  color: white;
  font-size: 5em;
  font-family: "Kanit";
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.welcome {
  display: flex;
  flex-direction: column;
  font-family: "Kanit";
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 5vh;
  
}

.welcome h1 {
  font-size: 7em;
  color: white;
  line-height: 0.8;
  margin-bottom: 15px;
}

.welcome p {
  font-size: 2em;
  color: white;
}

.speaker-container {
  position: relative;  
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;
  align-items: center;
  margin-bottom: 6vh;
}

.speaker {
  position: absolute;
  width: 10vmax;
}

.wave-right {
  position: absolute;
  height: 7vw;
  right: 17vw;
  animation-name: wave-right;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-timing-function: ease;
  transition-property: transform;
  transition-duration: 2s;
}

.wave-left {
  position: absolute;
  height: 7vw;
  left: 17vw;
  animation-name: wave-left;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-timing-function: ease;
  transition-property: transform;
  transition-duration: 2s;
}

.albums {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 3%;
  flex-flow: row wrap;
  justify-content: center;
}

.albums img {
  display: block;
  margin: 10px;
  width: 35vmin;
  height: 35vmin;
  box-shadow: 0 0 10vmin rgba(0, 0, 0, 0.5);
  transition-property: transform;
  transition-duration: 0.5s;
}

.albums img:hover {
  display: flex;
  transform: scale(95%, 95%);
  box-shadow: 0 0 5vmin rgba(105, 245, 252, 0.3);
}

.welcome span {
  color: #08fc5d;
}

.inside {
  filter: blur(0.05%);
  animation-name: inside;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.center {
  filter: blur(0.2%);
  animation-name: center;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-timing-function: ease;
}

.border {
  animation-name: border;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media (max-width: 1440px) {
  .welcome, .albums {
   width: 100%;
  }

  .welcome h1 {
    font-size: 5em;
  }

  .welcome p {
    font-size: 2.5em;
  }

  .speaker-container {
    margin-top: 5vh;
  }

  .wave-right {
    height: 7vw;
    right: 40vw;
  }
  
  .wave-left {
    height: 7vw;
    left: 40vw;
  }

  div.muzieknootjes {
    top: 10%;
    left: 30%;
  }
}

@media (max-width: 800px) {
  .welcome h1 {
    font-size: 3em;
  }
  .welcome p {
    font-size: 2em;
  }

  .wave-right {
    height: 10vw;
    right: 38vw;
  }
  
  .wave-left {
    height: 10vw;
    left: 38vw;
  }

  div.muzieknootjes {
    top: 8%;
    left: 25%;
  }
}

@media (max-width: 500px) {
  .welcome h1 {
    font-size: 2.5em;
  }
  .welcome p {
    font-size: 1.5em;
  }

  .wave-right {
    height: 10vw;
    right: 35vw;
  }
  
  .wave-left {
    height: 10vw;
    left: 35vw;
  }
}


@keyframes inside {
  from {
    transform: translate(-1%, -1%) scale(1);
  }
  to {
    transform: translate(-1%, -1%) scale(1.1);
  }
}

@keyframes center {
  0% {
    transform: translate(-2%, -1%);
  }
  100% {
    transform: translate(-1%, -2%);
  }
}

@keyframes border {
  0% {
    transform: translate(-2%, -1%);
  }
  100% {
    transform: translate(-1%, -2%);
  }
}

@keyframes wave-right {
  from {
    transform: translateX(-5%);
  }

  to {
    transform: translateX(15%);
  }
}

@keyframes wave-left {
  from {
    transform: translateX(5%);
  }

  to {
    transform: translateX(-15%);
  }
}

.muzieknootjes {
  display: block;
  margin: auto;
  position: absolute;
  top: 20%;
  left: 5%;
  width: 50%;
  min-width: 300px;
  height: 200px;
  border: 0px solid #000;
}


.noot-3,
.noot-4 {
  position: absolute;
  animation: notes 2s infinite linear;
  font-size: 35px;
  opacity: 0;
}

.noot-1,
.noot-2 {
  position: absolute;
  animation: notes-left 2s infinite linear;
  font-size: 35px;
  opacity: 0;
}

.noot-1 {
  top: 80px;
  left: 15%;
  animation-delay: 0.5s;
}

.noot-2 {
  top: 30px;
  left: 25%;
  animation-delay: 1s;
}

.noot-3 {
  top: 90px;
  left: 60%;
  animation-delay: 1.5s;
}

.noot-4 {
  top: 30px;
  left: 55%;
  animation-delay: 2s;
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}

@keyframes notes-left {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(-50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(-100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(-100%, -100%);
    opacity: 0;
  }
}